nav {
    height: 80px;
    width: 100%;
    padding: 0 1rem;
    @include flex(row, flex-end, center);
    background-color: white;
    box-shadow: 2px 2px 4px grey;

    button {
        font-size: 0.8rem;
        margin-left: 0.5rem;
        padding: 0.3rem 1rem;
        @include flex(row, center, center);

        img {
            margin-right: 0.3rem;
        }
    }
}