button {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid $brand-color;
    background-color: $brand-color;
    color: white;
    cursor: pointer;
    font-family: $regular-font-family;
}