form {

    label {
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 1px solid lightgray;
        font-family: $regular-font-family;

        &:focus {
            outline: none;
        }
    }

}