form {
    max-width: 620px;
    margin: 0 auto;

    &.search {
        max-width: 100%;
        margin-bottom: 1rem;

        input {
            max-width: 320px;
            padding-left: 1.6rem;
            background-image: url('../../assets/icons_app-main/search.svg');
            background-repeat: no-repeat;
            background-position: 0 0.3rem;
        }
    }


    label {
        font-size: 0.8rem;
        text-transform: uppercase;

        span.success {
            font-size: 0.6rem;
            color: $success-color;
        }

        span.alert {
            font-size: 0.6rem;
            color: $alert-color
        }
    }

    input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 1px solid lightgray;
        font-family: $regular-font-family;

        &:focus {
            outline: none;
        }

        &:read-only {
            background-color: lightgray;
        }
    }

    select {
        -webkit-appearance: none;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 0.5px solid lightgray;
        border-radius: 0.3rem;
        color: $regular-font-color;
        font-family: $regular-font-family;
        background-image: 
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position: 
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;

        &:focus {
            outline: none;
        }
    }

    textarea {
        width: 100%;
        height: 6rem;
        resize: none;
        border: 0.5px solid lightgray;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem;
        color: $regular-font-color;
        font-family: $regular-font-family;

        &:focus {
            outline: none;
        }

    }

}

.relative {
    position: relative;
}

.search-results {
    position: absolute;
    top: 5rem;
    left: 1rem;
    width: calc(100% - 2rem);
    z-index: 10;
    max-height: 10rem;
    overflow-y: auto;
    background-color: white;
    box-shadow: 2px 2px 4px grey;

    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0.5px 0.5px 2px grey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $brand-color;
    }

    .item {
        padding: 0.5rem 1rem;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }

}