$regular-font-family: 'Poppins', sans-serif;
$regular-font-color: #3d3d3d;

$brand-color: #0a2558;
$darker-brand-color: #051430;

$success-color: #287d78;
$warning-color: #f8ad33;
$alert-color: #ff5a5f;