@import './abstracts/mixins';
@import './abstracts/variables';


@import './base/reset';
@import './base/typography';

@import './components/breadcrumbs';
@import './components/buttons';
@import './components/cards';
@import './components/forms';
@import './components/tables';

@import './layout/containers';
@import './layout/header-nav';
@import './layout/side-nav';

body {
    font-family: $regular-font-family;
    color: $regular-font-color;
    background-color: #f5f5f5;
}