<div class="container">
    <div class="breadcrumbs">
        <p>
            <span routerLink="/">Inicio > </span>
            <span routerLink="/articles">Artículos > </span>
            <span class="active">Nuevo artículo</span>
        </p>
    </div>
    <div class="card">
        <form>
            <div class="row">
                <div class="col-50">
                    <label>Código SKU</label>
                    <input type="text">
                </div>
                <div class="col-50">
                    <label>Marca</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <label>Modelo</label>
                    <input type="text">
                </div>
                <div class="col-50">
                    <label>Género</label>
                    <select>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Niña">Niña</option>
                        <option value="Niño">Niño</option>
                        <option value="todos">todos</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
