<div class="container home">
    <div class="card home">
        <div>
            <h1>Artículos</h1>
            <img src="/assets/icons_app-main/articles-front.svg" alt="">
        </div>
        <div>
            <button routerLink="/articles">Acceder</button>
        </div>
    </div>
    <div class="card home">
        <div>
            <h1>Proveedores</h1>
            <img src="/assets/icons_app-main/vendors-front.svg" alt="">
        </div>
        <div>
            <button routerLink="/vendors">Acceder</button>
        </div>
    </div>
    <div class="card home">
        <div>
            <h1>Ofertas</h1>
            <img src="/assets/icons_app-main/budgets-front.svg" alt="">
        </div>
        <div>
            <button routerLink="/offers">Acceder</button>
        </div>
    </div>
</div>
