<div class="container">
    <div class="breadcrumbs">
        <p>
            <span routerLink="/">Inicio > </span>
            <span class="active">Artículos</span>
        </p>
        <button class="outline" routerLink="/create-article">Nuevo</button>
    </div>
    <div class="card">
        <form class="search" [formGroup]="form">
            <input type="search" 
                   placeholder="Modelo"
                   formControlName="modelTerm"
                   #search>
        </form>
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Género</th>
                <th></th>
            </tr>
            <tr *ngIf="isSearching">
                <td colspan="4">
                    <app-spinner></app-spinner>
                </td>
            </tr>
            <ng-container *ngIf="!isSearching">
                <tr *ngFor="let article of articles">
                    <td>{{article.marca}}</td>
                    <td>{{article.modelo}}</td>
                    <td>{{article.genero}}</td>
                    <td>
                        <span (click)="showArticle()">
                            <img src="/assets/icons_app-main/eye.svg" alt="">
                        </span>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="articles.length === 0 && 
                       form.controls['modelTerm'].value.length !== 0 &&
                       !isSearching">
                <td colspan="4">No se encontraron coincidencias</td>
            </tr>
        </table>
    </div>
</div>
<div class="overlay" #overlay>
    <div class="modal">
        <div class="modal-header">
            <span (click)="showArticle()">&#x2715;</span>
        </div>
    </div>
</div>
