<div class="container">
    <div class="breadcrumbs">
        <p>
            <span routerLink="/">Inicio > </span>
            <span class="active">Artículos</span>
        </p>
        <button class="outline" routerLink="/create-article">Nuevo</button>
    </div>
    <div class="card">
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Género</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="4">
                    <app-spinner></app-spinner>
                </td>
            </tr>
            <!-- <tr *ngFor="let article of articles">
                <td>{{article.marca}}</td>
                <td>{{article.modelo}}</td>
                <td>{{article.genero}}</td>
                <td></td>
            </tr> -->
        </table>
    </div>
</div>
